* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./Images/1.jpg') no-repeat center center/cover;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Lớp màu tối phủ */
    backdrop-filter: blur(8px); /* Làm mờ background */
    z-index: 1;
}

.login-container {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.1); /* Đặt màu nền form mờ */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    backdrop-filter: blur(10px); /* Làm mờ form thêm chút */
}

.login-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.login-box p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #fff;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #45a049;
}