

/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

/* CSS cho nội dung chính */
.content-wrapper {
    background-color: #fff;
    padding: 40px; 
    max-width: 100%;
    margin-left: 230px
}

/* Tiêu đề trang */
.content-header h1 {
    font-size: 2.5rem; /* Thay đổi kích thước font */
    color: #333;
    margin-bottom: 10px;
    margin-top: 5px;
}

.content-header small {
    color: #777;
    font-size: 1rem; /* Thay đổi kích thước font */
}

/* Breadcrumb */
.breadcrumb {
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

.breadcrumb .active {
    color: #6c757d;
}

/* Các hộp thông tin (Small boxes) */
.small-box {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.small-box .inner {
    padding: 10px;
}

.small-box h3 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.small-box p {
    font-size: 16px;
}

.small-box .icon {
    font-size: 60px;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.3;
}

/* Button trong small-box */
.small-box-footer {
    display: block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.small-box-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Màu sắc cho từng box */
.bg-green {
    background-color: #28a745;
}

.bg-red {
    background-color: #dc3545;
}

.bg-aqua {
    background-color: #17a2b8;
}

.bg-yellow {
    background-color: #ffc107;
}

.bg-nau {
    background-color: #A0522D;
}

.bg-hong {
    background-color: #c34093;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .content-wrapper {
        padding: 20px;
    }

    .content-header h1 {
        font-size: 2rem;
    }

    .small-box h3 {
        font-size: 24px;
    }
}

